.card {
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
  }
  
  .card img {
    width: 100%;
  }
  
  .card::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid 1  transparent;
    border-top: 10px solid #ccc;
  }